body{
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    
    
}
h1 span:nth-child(2),
h1 span:nth-child(3),
h1 span:nth-child(4) {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}

header
{
    text-align: center;
    h1{
       display: flex;
        width: max-content;
        margin: 20px auto;
        padding: 10px;
        text-transform: uppercase;
        span:nth-child(1){
            display: inline-flex;
            color: #36A23E;
            border: 1px solid currentColor;
            border-right: none;
        }
        span:nth-child(2){
            display: inline-flex;
            color: #FF6633;
        }span:nth-child(3){
            display: inline-block;
            color: #CC0066;
        }
        span:nth-child(4){
            color: #36A23E;
        }
        span:nth-child(5){
            color: #FF6633;
            border: 1px solid currentColor;
            border-left:none ;
        }
       
    }
}
figure
{
    display: flex;
    justify-content: center;
}
footer
{
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    border-top: 1px dotted black;

    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;

        .mot-vert
        {
            color: #36A23E;
            text-decoration: underline ;
        }
    }
}       