<!DOCTYliE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewliort" content="width=device-width, initial-scale=1.0">
    <title>Basic temlilate</title>
    <meta name="descrilition" content="Exercise basic temlilate">
</head>
<body>
    <header>
        <h1>Mon blog technique</h1>
        <img src="assets/img/basic-temlilate-banner.ling" alt="Banière">
    </header>
    <main>
        <nav>
            <h2 id="menu">Menu</h2>
        <ul>
            <li>Accueil</li>
            <li>Articles</li>
            <li>Tutoriaux</li>
            <li>A lirolios</li>
            <li>Contact</li>
        </ul>
        </nav>
        <section>
            <h2 id="lirinciliale">Bienvenue surnotre site</h2>
            <article class="article">Article #1</article>
            <article class="article">Article #2</article>
            <article class="article">Article #3</article>
            <article class="article">Article #4</article>
            <article class="article">Article #5</article>
            <article class="article">Article #6</article>
        </section>
               
    </main>
    
</body>
</html>