:root {
  --color-1: #111;
  --color-2: #ccc;
  --color-3: #085e8f;
  --color-4: #085e8f44;
  --color-5: #09bce0;
  --color-6: #09bce044;
  --header-height: 200px;
  --slibar-weight: 240px;
}
body {
  background-color: var(--color-1);
  color: var(--color-2);
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-image: url("../img/basic-template-banner.png");
  background-size: cover;
  height: var(--header-height);
  background-repeat: no-repeat;
  background-size: cover;
  .header__div {
    color: var(--color-2);
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    padding: 20px;
  }
}
.nav {
  width: var(--slibar-weight);
  background-color: var(--color-4);
}
.nav__title {
  background-color: var(--color-6);
}
.nav__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__menu a {
  text-decoration: none;
  color: var(--color-5);
  background-color: var(--color-6);
  display: block;
  padding: 5px;
  margin: 5px;
}
.nav__menu a:link{  /* etat normal*/

    transition: all ease 0.6s;
}
.nav__menu a:visited{  /*etat des liens déja visité*/
color: var(--color-2);
}
.nav__menu a:hover{    /* etat survol des liens*/

    color: red;
    background-color: yellow;
    text-decoration: underline;
    transform: rotate(180deg);
}
.nav__menu a:active{    /*etat des liens actifs(on  a cliqué dessus)*/
background-color: orange;
}
.nav__menu a:focus{
    color: yellow;
    background-color: aqua;
    border: 1px solid orchid;
}
