:root {
  --bgbody: #222222;
  --txtcolor: #fff;
  --titlecolor: #ccffcc;
  --linkcolor: #ccccff;
  --fonttxt: "verdana";
  --fonttittle:"impact";
}
body{
margin: 0;
padding: 0;
background-color: var(--bgbody);
color: var(--txtcolor);
}
h1{
    font-family: var(--fonttittle);
    text-align: center;
    color: var(--titlecolor);
}
.journal h2{
    font-family: var(--fonttittle);
    color: var(--titlecolor);
    padding-bottom: 10px;
    border: 1px dotted var(--titlecolor);
}
h2{
    color: var(--titlecolor);
    font-family: var(--fonttxt);
    text-transform: uppercase;
    text-align: center;
}
#prefere{
    width: auto;
    height: 150px;
}
li{
    display: inline-block;
    width: 200px;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid var(--titlecolor);
}
.galerie{
    border: 2px solid rgb(138, 34, 34);
    border-radius: 12px;
    padding: 5px 10px 10px 10px;
    width: 60%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.av{
    width: 250px;
    height: 150px;
    border-radius: 12px;
}
.h3-av{
    width: 100%;
    margin: 0;
    margin-top: -23px;
    margin-bottom: -7px;
    margin-left: 3px;
    font-weight: normal;
    font-size: 16px;
}
.h3-av span{
    background-color: #222;
    padding: 0px 5px;

}
