
body{
    background-color:#5C94FC ;
    
}
.cadre{
    margin: 10px auto;
    background-color:#5C94FC ;
    width: 80%;
    height: 600px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#un{
    background-color: #4976C9;
grid-column: span 1;
border-right: 5px solid black;
}
#deux{
    background-color: #375897;
grid-column: 1/3;
}
#trois{
    background-color:  #243B64;
grid-column: 1 / 4;


}
#quatre{
    background-color: #121D32;
grid-column: 1/5;
border-top: 5px solid black;
}
#deux ,#trois{
border-right: 5px solid black;
border-top: 5px  solid black;
}